# This file is part of the partake project
# Copyright 2020-2022 Board of Regents of the University of Wisconsin System
# SPDX-License-Identifier: BSD-2-Clause

/packagecache/

# Subprojects with version numbers, downloaded via wrap
/*-*/

# List our wraps explicitly because transitive dependencies may be added
/*.wrap
!/dropt.wrap
!/flatcc.wrap
!/libuv.wrap
!/unity.wrap
!/uthash.wrap
!/zf_log.wrap
