# This file is part of the partake project
# Copyright 2020-2023 Board of Regents of the University of Wisconsin System
# SPDX-License-Identifier: MIT
---
Checks: >-
    -*,
    bugprone-*,
    clang-analyzer-*,
    clang-diagnostic-*,
    cppcoreguidelines-*,
    misc-*,
    modernize-*,
    performance-*,
    portability-*,
    readability-*,
    -bugprone-exception-escape,
    -bugprone-macro-parentheses,
    -clang-analyzer-cplusplus.NewDelete,
    -clang-analyzer-cplusplus.NewDeleteLeaks,
    -cppcoreguidelines-avoid-magic-numbers,
    -readability-container-contains,
    -readability-identifier-length,
    -readability-magic-numbers,

# Reasons for disabled checks:
# bugprone-exception-escape
#   It seems too hard to suppress this warning where we want to. Since we
#   generally don't use exceptions to handle recoverable errors, guaranteeing
#   that a 'noexcept' won't result in std::terminate is not that important.
# bugprone-macro-parentheses
#   This check does not report the location of the macro in question, so hard
#   to fix. (Using --fix did not reveal anything useful.) As of LLVM 16.
# clang-analyzer-cplusplus.NewDelete
#   TODO
# clang-analyzer-cplusplus.NewDeleteLeaks
#   TODO
# cppcoreguidelines-avoid-magic-numbers
#   See readability-magic-numbers.
# readability-container-contains
#   This check is for C++20+.
# readability-identifier-length
#   Short variable names are not always evil.
# readability-magic-numbers
#   Too many false positives.

CheckOptions:
  misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic: true
  readability-braces-around-statements.ShortStatementLines: 3
  readability-function-cognitive-complexity.IgnoreMacros: true
  readability-uppercase-literal-suffix.NewSuffixes: L;uL;LL;uLL

FormatStyle: file
...
